.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info {
    padding-left: 20px
}

.checkoutProduct_info_button {
    background: #178200;
    border: 1px solid;
    margin-top: 10px;
    color: white;
    padding: 10px;
    transition: background-color .5s;
}
.checkoutProduct_info_button:hover {
    background-color: #1DA64D;
  }

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct_rating {
    display: flex;
  }

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}