.subTotal {
    display: flex;
    margin-left: 15%;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
  
  .subtotal_gift {
    display: flex;
    align-items: center;
  }
  
  .subtotal_gift_input {
    margin-right: 5px;
  }
  
  .subtotal_button {
    background: #178200;
    border: 1px solid;
    margin-top: 10px;
    color: white;
    padding: 10px;
    transition: background-color .5s;
  }

  .subtotal_button:hover {
    background-color: #1DA64D;
  }